.container {
  width: 100%;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

.bg-silver {
  background-color: var(--cloud-bg-color);
}

.bg-white {
  background-color: var(--section-bg-color);
}

.mb-0 {
  margin-bottom: 0;
}

.hero {
  padding: 112px 0;
}
.flex-list {
  display: flex;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}
/* header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: none;
}

.address-list {
  display: none;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.logo-decor-header {
  color: var(--title-text-color);
}
.logo-decor-footer {
  color: var(--cloud-text-color);
}

.header {
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation-link {
  display: block;
  color: var(--title-text-color);
  padding: 24px 0;
  position: relative;
}

.navigation-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-item .link-studio,
.navigation-item .link-portfolio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio:after,
.link-portfolio:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  z-index: 1;
}
.address-item .address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--hover-text-color);
}

.link {
  text-decoration: none;
}

.header-address {
  font-style: normal;
}

.address-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-text-color);
}
/* */
.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  color: var(--white-text-color);
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 320px;
}

.hero-button {
  background-color: var(--accent-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--hover-bg-color);
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: calc((100% - 0) / 1);
}

.benefits-wrapper-icon {
  display: none;
}

.benefits-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.characteristic {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.made-d-none {
  display: none;
}

.team {
  padding: 96px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.our-team-item {
  flex-basis: calc((100% - 0) / 1);
  max-width: 264px;
  background-color: var(--section-bg-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee-general-content {
  padding: 32px 0;
}

.employee-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.employee-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* socials */
.employee-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.employee-social-item {
  width: 40px;
  height: 40px;
}

.employee-socials-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-socials-icon {
  fill: var(--cloud-text-color);
}
.employee-socials-link:hover,
.employee-socials-link:focus {
  background: #404bbf;
}

.section-customer {
  padding: 96px 0;
  margin: 0;
}

.customers-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.customer-item {
  width: calc((100% - 24px) / 2);
  height: 88px;
  max-width: 190px;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customer-item-color);
  border-radius: 4px;
  border: 1px solid var(--customer-item-color);
  padding: 16px 32px;
  cursor: pointer;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--hover-text-color);
  color: var(--hover-text-color);
  border-radius: 4px;
}

.customer-link:hover .customer-icon {
  fill: var(--hover-text-color);
  border-color: #404bbf;
}

.customer-icon {
  fill: currentColor;
}

.footer {
  background: var(--secondary-bg-color);
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-description {
  max-width: 268px;
  font-size: 16px;
  line-height: 24px;
  color: var(--cloud-text-color);
  letter-spacing: 0.02em;
}

.footer-social-title {
  display: flex;
  align-items: baseline;
  color: var(--white-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-logo {
  margin: 0 auto;
}

.footer-inline-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.footer-social-box {
  margin: 0 auto;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-socials-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon {
  fill: var(--cloud-text-color);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background: var(--hover-bg-social-color);
}

.subscribe-wrapper {
  width: 100%;
}

.subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-caption {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-email {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(256, 256, 256, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: var(--color-text-light);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-email::placeholder {
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* hero */

@media screen and (min-width: 428px) {
  .container {
    min-width: 320px;
    max-width: 428px;
  }
}
