:root {
  --primary-text-color: #434455;
  --accent-text-color: #4d5ae5;
  --title-text-color: #2e2f42;
  --hover-text-color: #404bbf;
  --cloud-text-color: #f4f4fd;
  --white-text-color: #ffffff;
  --customer-item-color: #8e8f99;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2e2f42;
  --section-bg-color: #ffffff;
  --cloud-bg-color: #f4f4fd;
  --accent-bg-color: #4d5ae5;
  --hover-bg-color: #404bbf;
  --hover-bg-social-color: #31d0aa;
}

/* reset style */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* */

body {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--section-bg-color);
}

ul,
.list {
  list-style-type: none;
}

/* hero */
/*ФОН*/
