@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-title {
    text-align: start;
  }

  .our-team-item {
    flex-basis: calc((100% - 16px) / 1);
  }
}
