@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }

  /* header */
  .header-menu-btn {
    display: none;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  /*  */
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-title {
    text-align: start;
  }

  .our-team-item {
    flex-basis: calc((100% - 16px) / 1);
  }

  .customer-item {
    width: calc((100% - 24px) / 1);
    max-width: 168px;
  }

  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
  .footer-logo {
    margin: 0;
  }
  .footer-inline-block {
    margin: 0;
    margin-right: auto;
  }
  .footer-description {
    max-width: 264px;
  }

  .footer-social-box {
    margin: 0;
  }
  .footer-social-title {
    margin: 0;
    margin-right: auto;
    margin-bottom: 22px;
  }
  .footer-social-box {
    margin-right: 80px;
  }

  .subscribe-email {
    width: 264px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-button {
    margin: 0;
  }

  .subscribe-caption {
    margin-right: auto;
  }

  /* portfolio.html */
  .portfolio-content {
    padding: 64px 0 96px 0;
  }

  .category-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    flex-wrap: nowrap;
  }

  .portfolio-list {
    display: flex;
    justify-content: center;
  }

  .portfolio-card {
    flex-basis: calc((100% - 2 - 1) * 24px / 2);
  }
}
